
.home{
 position: absolute;
 top: 32%; 
 left: 150px;
}
.header{
    position: absolute;
    top: 4%
}
.header1{
    position: absolute; 
    top: 14%
}
.search{
    margin-right: 50px;
}
.telephone{
    margin-right: 20px;
}
.button1{
    background-color: #FF4600;
}
.Footer{
    background-image: url(./assets/Rectangle\ 202\ \(2\).png);
    background-attachment:fill;
    display: block;;
}
.footer{
    background-image: url(./assets/image87.png);
    display: flex;
    color: #fff;
}
.left{
    margin-left: 10px;
}
.solutions{
    margin-top: 50px;
}
.solutions1{
    margin-top: 50px;
}
.shipcare{
    margin-top: 50px
}
.footer2{
    height: 50px;
    background-color: #FF4600;
}
.oneswipper{
    border-bottom: 2px dotted #FF4600;
}
.border2{
    border-right: 2px dotted #FF4600;
    border-left: 2px dotted #FF4600;
}
.tableheader{
    border-bottom: 2px solid #FF4600;
}
.axel{
    margin-top: 70px;
    margin-bottom: 70px;
}
.tablehor{
    overflow-x: auto;
}
.tabler{
    width: 500px;
    height: 150px;
}
.tablesmh{
    width: 1200px;
}
.head{
    border-style: solid;
    background-color: #FF4600;
    width: 200px;
    color: #fff;
    margin-top: 2px;
    height: 3rem;
    position: relative;
    top: 3px;
    text-align: center;
}
.navMobile.off{
    display: none;
}
.navMobile{
    display: none;
}
.MobileNavbar{
    display: none;
}
.MobileNavbar.active {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: white;
    color:#FF4600;
}
.MobileNavbar.active li {
    padding: 4px;
}
.MobileNavbar.active a {
    color:white;
    font-weight: 600;
    font-size: 18px;
}
.endLanding{
  display: flex;
  position: relative;
  top: 40rem;
}
.whatsapp{
    position: absolute;
    right: 8%;
    margin-right: 20px
}
.scroll p{
    font-weight: 200;
    font-size: 16px;
}
@media only screen and (max-width: 425px){
    .home{
      left: 50px;
    }
    .oneswipper{
        width: 20px;
    }
    .telephone{
       display: none;
    }
    .endLanding{
        top: 35rem;
      }
    .image1{
        width: 70px;
        height: 70px;
    }
    .header2{
        display: none;
    }
    .phone{
      display: none;
    }
    .header{
        width: 350px;
    }
    .header5{
        font-size: small;
    }
    .search{
        display: none;
    }
    .swiper{
        height: 15em;
    }
    .oneswipper{
        width: 30px;
    }
    .solutions1{
      display: none;
    }
    .footer{
        height: 30rem;
    }
    .shipcare{
       width: 300px;
       margin-left: 80px;
    }
    .solutions{
        width: 300px;
        margin-left: 2rem;
    }
    .paragraph{
        font-size: small;
    }
    .left{
        font-size: smaller;
    }
    .rights{
        display: none;
    }
    .rightwell{
        margin-left: 8rem;
    }
    .navMobile{
        display: block;
        position: absolute;
        top:2rem;
        left: 20rem;
        font-size: 30px;
        color: white;
    }
    .navMobile1{
        display: flex;
        position: absolute;
        margin-top: -70px;
        font-weight: 900;
        font-size: 48px;
        right: 8%;
    }
    .MobileNavbar{
        position: relative;
        top: 7rem;
    }
    .footerflex{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .Footer{
        height: 45rem;
    }
    .footer{
        height: 45rem;
    }
    .shm{
        margin-bottom: 2rem;
        margin-right: 4rem;
    }
}

@media only screen and (max-width: 768px){
    .image3{
        width: 200px;
    }
}